# Data Visualization and Cleaning
1 -  First step is to import the data using pandas and visualize it's contentes

2 - After that we need to solved what to do with the NaNs for each column

In [162]:
import pandas as pd

In [178]:
df = pd.read_csv('problem1_dataset.csv')

In [214]:
df.head()

,ITEM_ID,ALTURA,CAPACIDADE_(L),COMPOSICAO,COR,FORMATO,LARGURA,MARCA,PARA_LAVA_LOUCAS,PARA_MICRO_ONDAS,...,FORMATO_CONTAINS_INFO,LARGURA_CONTAINS_INFO,MARCA_CONTAINS_INFO,PARA_LAVA_LOUCAS_CONTAINS_INFO,PARA_MICRO_ONDAS_CONTAINS_INFO,PESO_CONTAINS_INFO,PROFUNDIDADE_CONTAINS_INFO,TEMPO_GARANTIA_CONTAINS_INFO,SESSION_ID_CONTAINS_INFO,ITEM_PRICE_CONTAINS_INFO
0,264220456,30.5,NaN,ALUMINIO,VINHO,NaN,14.0,LA CUISINE,NaN,NaN,...,True,False,False,True,True,True,False,False,False,False
1,238630912,22.0,NaN,ALUMINIO,COLORIDO,NaN,24.0,TRAMONTINA,No,no,...,True,False,False,False,False,False,False,False,False,False
2,218228122,24.0,NaN,INOX,INOX,NaN,20.0,LA CUISINE,Yes,no,...,True,False,False,False,False,False,False,False,False,False
3,253661510,49.5,6.0,ALUMINIO,VERMELHO,REDONDO,41.5,TRAMONTINA,Yes,NaN,...,False,False,False,False,True,False,False,True,False,False
4,253661510,49.5,6.0,ALUMINIO,VERMELHO,REDONDO,41.5,TRAMONTINA,Yes,NaN,...,False,False,False,False,True,False,False,True,False,False

In [215]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180275 entries, 0 to 180274
Data columns (total 35 columns):
ITEM_ID                           180275 non-null int64
ALTURA                            171007 non-null float64
CAPACIDADE_(L)                    76671 non-null float64
COMPOSICAO                        156978 non-null object
COR                               170251 non-null object
FORMATO                           90011 non-null object
LARGURA                           171007 non-null float64
MARCA                             180001 non-null object
PARA_LAVA_LOUCAS                  104086 non-null object
PARA_MICRO_ONDAS                  86402 non-null object
PESO                              98524 non-null float64
PROFUNDIDADE                      171007 non-null float64
TEMPO_GARANTIA                    122770 non-null float64
TEM_FERRO_FUNDIDO                 180275 non-null object
TEM_GRELHA                        180275 non-null object
TEM_TAMPA                         180275 non-null float64
TIPO_PRODUTO                      180275 non-null object
TIPO_WOK                          180275 non-null object
SESSION_ID                        178273 non-null float64
ITEM_PRICE                        167178 non-null float64
INTERESTED                        180275 non-null float64
ALTURA_CONTAINS_INFO              180275 non-null bool
CAPACIDADE_(L)_CONTAINS_INFO      180275 non-null bool
COMPOSICAO_CONTAINS_INFO          180275 non-null bool
COR_CONTAINS_INFO                 180275 non-null bool
FORMATO_CONTAINS_INFO             180275 non-null bool
LARGURA_CONTAINS_INFO             180275 non-null bool
MARCA_CONTAINS_INFO               180275 non-null bool
PARA_LAVA_LOUCAS_CONTAINS_INFO    180275 non-null bool
PARA_MICRO_ONDAS_CONTAINS_INFO    180275 non-null bool
PESO_CONTAINS_INFO                180275 non-null bool
PROFUNDIDADE_CONTAINS_INFO        180275 non-null bool
TEMPO_GARANTIA_CONTAINS_INFO      180275 non-null bool
SESSION_ID_CONTAINS_INFO          180275 non-null bool
ITEM_PRICE_CONTAINS_INFO          180275 non-null bool
dtypes: bool(14), float64(10), int64(1), object(10)
memory usage: 31.3+ MB

In [222]:
cleared_df = df.dropna()
cleared_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27336 entries, 9 to 180261
Data columns (total 35 columns):
ITEM_ID                           27336 non-null int64
ALTURA                            27336 non-null float64
CAPACIDADE_(L)                    27336 non-null float64
COMPOSICAO                        27336 non-null object
COR                               27336 non-null object
FORMATO                           27336 non-null object
LARGURA                           27336 non-null float64
MARCA                             27336 non-null object
PARA_LAVA_LOUCAS                  27336 non-null object
PARA_MICRO_ONDAS                  27336 non-null object
PESO                              27336 non-null float64
PROFUNDIDADE                      27336 non-null float64
TEMPO_GARANTIA                    27336 non-null float64
TEM_FERRO_FUNDIDO                 27336 non-null object
TEM_GRELHA                        27336 non-null object
TEM_TAMPA                         27336 non-null float64
TIPO_PRODUTO                      27336 non-null object
TIPO_WOK                          27336 non-null object
SESSION_ID                        27336 non-null float64
ITEM_PRICE                        27336 non-null float64
INTERESTED                        27336 non-null float64
ALTURA_CONTAINS_INFO              27336 non-null bool
CAPACIDADE_(L)_CONTAINS_INFO      27336 non-null bool
COMPOSICAO_CONTAINS_INFO          27336 non-null bool
COR_CONTAINS_INFO                 27336 non-null bool
FORMATO_CONTAINS_INFO             27336 non-null bool
LARGURA_CONTAINS_INFO             27336 non-null bool
MARCA_CONTAINS_INFO               27336 non-null bool
PARA_LAVA_LOUCAS_CONTAINS_INFO    27336 non-null bool
PARA_MICRO_ONDAS_CONTAINS_INFO    27336 non-null bool
PESO_CONTAINS_INFO                27336 non-null bool
PROFUNDIDADE_CONTAINS_INFO        27336 non-null bool
TEMPO_GARANTIA_CONTAINS_INFO      27336 non-null bool
SESSION_ID_CONTAINS_INFO          27336 non-null bool
ITEM_PRICE_CONTAINS_INFO          27336 non-null bool
dtypes: bool(14), float64(10), int64(1), object(10)
memory usage: 5.0+ MB

In [223]:
cleared_df.shape[0]/df.shape[0]*100
print(cleared_df.shape[0])

27336

## Filling the NANs using ITEM_ID
If we simply cleared all the NaN we would lose 85% of the information so we need to see how to solve the NAN issue for each column. The information we have is the ITEM_ID, we will try to get the information for each type of item and fill it in the missing value. I'm assuming that the ITEM_ID is the product type so for the same product type the characteristics would be the same. This logic would not be used for price because this can change over time

In [224]:
item_IDS =  df.ITEM_ID.unique()
print(len(item_IDS))
total_updated = 0
for id in item_IDS:
    filtered = df.loc[df['ITEM_ID'] == id].head().dropna()
    if(filtered.size!=0):
       total_updated +=1
    
    
print(total_updated)

787
31

Observing the Data above we can see that only 31 products have all the information so we need to find another strategy to fill in the NaN. Also we can see if we would drop the NAN rows we would have information only about 31 products

The First step will be for each column that has a NaN value we will create another categoric column, that will indicate for us if the product has or not the information related with the column. This will help the algoritm to understand if the information is relevant on the classification. After that the NAN will be replaced by zeros.

In [225]:
columns_with_missing_info = []
columns_with_all_info = []
for column in df.columns:
    if(df[column].isna().sum()>0):
        columns_with_missing_info.append(column)
        new_column = column+"_CONTAINS_INFO"
        df[new_column] = df[column].isna()
    else:
        if (column.find("_CONTAINS_INFO")==-1):
            columns_with_all_info.append(column)

print(columns_with_missing_info)
print(columns_with_all_info)

['ALTURA', 'CAPACIDADE_(L)', 'COMPOSICAO', 'COR', 'FORMATO', 'LARGURA', 'MARCA', 'PARA_LAVA_LOUCAS', 'PARA_MICRO_ONDAS', 'PESO', 'PROFUNDIDADE', 'TEMPO_GARANTIA', 'SESSION_ID', 'ITEM_PRICE']
['ITEM_ID', 'TEM_FERRO_FUNDIDO', 'TEM_GRELHA', 'TEM_TAMPA', 'TIPO_PRODUTO', 'TIPO_WOK', 'INTERESTED']

We have 6 numerical features missing information 
- ALTURA, CAPACIDADE_(L),LARGURA,PESO,PROFUNDIDADE,TEMPO_GARANTIA,ITEM_PRICE

We have 5 categorical features missing information 
- COMPOSICAO, COR, FORMATO, MARCA, PARA_LAVA_LOUCAS, PARA_MICRO_ONDAS

We are ignoring SESSION_ID for now because that information will be used later. For the missing information on the numerical columns we will use a LINEAR REGRESSION to infer de value for NAN. So in the following steps we will create the linear regression for each missing of those. But to apply that we will use the DataFrame with all the NaN removed and after that we will enconde the categorical columns using SKLearn build in feature.

In [226]:
categorical_cols= ['COMPOSICAO', 'COR', 'FORMATO','MARCA', 'PARA_LAVA_LOUCAS', 'PARA_MICRO_ONDAS','TEM_FERRO_FUNDIDO', 'TEM_GRELHA','TEM_TAMPA', 'TIPO_PRODUTO', 'TIPO_WOK']
cleared_df = pd.get_dummies(cleared_df, columns=categorical_cols)
print(cleared_df.head())
final_cols =  [item for item in cleared_df.columns if item not in categorical_cols]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27336 entries, 9 to 180261
Data columns (total 65 columns):
ITEM_ID                           27336 non-null int64
ALTURA                            27336 non-null float64
CAPACIDADE_(L)                    27336 non-null float64
LARGURA                           27336 non-null float64
PESO                              27336 non-null float64
PROFUNDIDADE                      27336 non-null float64
TEMPO_GARANTIA                    27336 non-null float64
SESSION_ID                        27336 non-null float64
ITEM_PRICE                        27336 non-null float64
INTERESTED                        27336 non-null float64
ALTURA_CONTAINS_INFO              27336 non-null bool
CAPACIDADE_(L)_CONTAINS_INFO      27336 non-null bool
COMPOSICAO_CONTAINS_INFO          27336 non-null bool
COR_CONTAINS_INFO                 27336 non-null bool
FORMATO_CONTAINS_INFO             27336 non-null bool
LARGURA_CONTAINS_INFO             27336 non-null bool
MARCA_CONTAINS_INFO               27336 non-null bool
PARA_LAVA_LOUCAS_CONTAINS_INFO    27336 non-null bool
PARA_MICRO_ONDAS_CONTAINS_INFO    27336 non-null bool
PESO_CONTAINS_INFO                27336 non-null bool
PROFUNDIDADE_CONTAINS_INFO        27336 non-null bool
TEMPO_GARANTIA_CONTAINS_INFO      27336 non-null bool
SESSION_ID_CONTAINS_INFO          27336 non-null bool
ITEM_PRICE_CONTAINS_INFO          27336 non-null bool
COMPOSICAO_ALUMINIO               27336 non-null uint8
COMPOSICAO_CERAMICA               27336 non-null uint8
COMPOSICAO_INOX                   27336 non-null uint8
COR_AMARELO                       27336 non-null uint8
COR_BRANCO                        27336 non-null uint8
COR_CEREJA                        27336 non-null uint8
COR_CHOCOLATE                     27336 non-null uint8
COR_GRAFITE                       27336 non-null uint8
COR_INOX                          27336 non-null uint8
COR_LARANJA                       27336 non-null uint8
COR_PRATA                         27336 non-null uint8
COR_PRETO                         27336 non-null uint8
COR_ROSA                          27336 non-null uint8
COR_VERMELHO                      27336 non-null uint8
FORMATO_REDONDO                   27336 non-null uint8
MARCA_BR HOME                     27336 non-null uint8
MARCA_CERAFLAME                   27336 non-null uint8
MARCA_EURO HOME                   27336 non-null uint8
MARCA_HERCULES                    27336 non-null uint8
MARCA_JOMAFE                      27336 non-null uint8
MARCA_LA CUISINE                  27336 non-null uint8
MARCA_MIMO STYLE                  27336 non-null uint8
MARCA_OXFORD COOKWARE             27336 non-null uint8
MARCA_TRAMONTINA                  27336 non-null uint8
PARA_LAVA_LOUCAS_No               27336 non-null uint8
PARA_LAVA_LOUCAS_Yes              27336 non-null uint8
PARA_MICRO_ONDAS_no               27336 non-null uint8
PARA_MICRO_ONDAS_yes              27336 non-null uint8
TEM_FERRO_FUNDIDO_NAO             27336 non-null uint8
TEM_FERRO_FUNDIDO_SIM             27336 non-null uint8
TEM_GRELHA_NAO                    27336 non-null uint8
TEM_TAMPA_0.0                     27336 non-null uint8
TEM_TAMPA_1.0                     27336 non-null uint8
TIPO_PRODUTO_CACAROLA             27336 non-null uint8
TIPO_PRODUTO_CHALEIRA             27336 non-null uint8
TIPO_PRODUTO_ESPAGUETEIRA         27336 non-null uint8
TIPO_PRODUTO_FRIGIDEIRA           27336 non-null uint8
TIPO_PRODUTO_LEITEIRA             27336 non-null uint8
TIPO_PRODUTO_PANELA               27336 non-null uint8
TIPO_WOK_NAO                      27336 non-null uint8
TIPO_WOK_SIM                      27336 non-null uint8
dtypes: bool(14), float64(9), int64(1), uint8(41)
memory usage: 3.7 MB
None

In [227]:
df_for_reg = cleared_df.filter(final_cols)
df_for_reg = df_for_reg.drop(columns=['SESSION_ID'])
df_for_reg.head()

,ITEM_ID,ALTURA,CAPACIDADE_(L),LARGURA,PESO,PROFUNDIDADE,TEMPO_GARANTIA,ITEM_PRICE,INTERESTED,ALTURA_CONTAINS_INFO,...,TEM_TAMPA_0.0,TEM_TAMPA_1.0,TIPO_PRODUTO_CACAROLA,TIPO_PRODUTO_CHALEIRA,TIPO_PRODUTO_ESPAGUETEIRA,TIPO_PRODUTO_FRIGIDEIRA,TIPO_PRODUTO_LEITEIRA,TIPO_PRODUTO_PANELA,TIPO_WOK_NAO,TIPO_WOK_SIM
9,227368822,42.7,4.5,32.7,160.0,18.1,12.0,89.900000,1.0,False,...,1,0,0,0,0,0,0,1,0,1
15,223401814,35.0,4.3,35.0,120.0,24.0,3.0,248.900000,0.0,False,...,0,1,1,0,0,0,0,0,1,0
17,227368822,42.7,4.5,32.7,160.0,18.1,12.0,97.302564,0.0,False,...,1,0,0,0,0,0,0,1,0,1
26,227368822,42.7,4.5,32.7,160.0,18.1,12.0,81.311401,0.0,False,...,1,0,0,0,0,0,0,1,0,1
32,227368822,42.7,4.5,32.7,160.0,18.1,12.0,105.391667,0.0,False,...,1,0,0,0,0,0,0,1,0,1

In [210]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split  
import numpy as np
regressors = {}

In [238]:
for column in ['ALTURA', 'CAPACIDADE_(L)','LARGURA','PESO','PROFUNDIDADE','TEMPO_GARANTIA','ITEM_PRICE']:
    regressor = LinearRegression()  
    y = df_for_reg[column].values
    x = df_for_reg.loc[:, df_for_reg.columns != column].values
    X_train, X_test, y_train, y_test = train_test_split(x, y)  
    regressor.fit(X_train, y_train)  
    result =regressor.score(X_test,y_test)
    print(column+" Accuracy: " + str(result))
    regressors[column] = regressor

ALTURA Mean error: 0.999441200789766
CAPACIDADE_(L) Mean error: 0.9878162721349353
LARGURA Mean error: 0.9987501429644537
PESO Mean error: -5.096883287069247
PROFUNDIDADE Mean error: 0.9949715899796547
TEMPO_GARANTIA Mean error: 1.0
ITEM_PRICE Mean error: 0.9434816606370173

We can se that error is very low for all the regressors, so we can use than to clean the NaNs of the numerical columns.
Now we train a simple NN to each categorical feature with missing information. And use then the same way of the regresssors.

In [259]:
from sklearn.neural_network import MLPClassifier
for column in cleared_df.columns:
    cleared_df[column] = cleared_df[column].astype(float)
classifiers = {}
for column in categorical_cols:
    classifier = MLPClassifier(activation='relu', hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, verbose=False)  
    filter_col = [col for col in cleared_df if col.startswith(column)]
    y = cleared_df[filter_col].values
    x = cleared_df.drop(columns=filter_col).values
    X_train, X_test, y_train, y_test = train_test_split(x, y)  
    classifier.fit(X_train, y_train)  
    result =classifier.score(X_test,y_test)
    print(column+" Accuracy: " + str(result))
    classifiers[column] = classifier

COMPOSICAO Accuracy: 0.9304945858940591
COR Accuracy: 0.8447468539654668
FORMATO Accuracy: 1.0
MARCA Accuracy: 0.8646473514779046
PARA_LAVA_LOUCAS Accuracy: 0.9760023412350015
PARA_MICRO_ONDAS Accuracy: 0.9651741293532339
TEM_FERRO_FUNDIDO Accuracy: 0.9773192859233245

/home/marcuss/anaconda3/envs/dlnd-tf-lab/lib/python3.5/site-packages/sklearn/neural_network/multilayer_perceptron.py:904: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

TEM_GRELHA Accuracy: 1.0
TEM_TAMPA Accuracy: 0.9656131109160082
TIPO_PRODUTO Accuracy: 0.9170324846356454
TIPO_WOK Accuracy: 0.865086333040679

We can se that error is very low for all the regressors, so we can use than to clean the NaNs of the categorical columns.
Now we need to go to the original dataset and apply the models to the missing info so we can use the whole dataset.